<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

    <body class="bg-gray-900 text-gray-100">
        <script>
            var baseURL = '<%= baseURL %>';
        </script>
        <% include partials/deviceManagerMenu.ejs %>
        <!-- Main content wrapper -->
        <div class="relative min-h-screen">
            <!-- Main Content -->
            <div class="flex-1 p-2 sm:p-4 md:p-6 lg:p-8 mt-16 md:mt-20 overflow-x-hidden ml-0 transition-all duration-300" id="main-content">
                    <% include partials/disclaimer.ejs %>
                    <div class="mt-4 md:mt-6">
                        <% 
                        if(page === "microphone") { %>
                            <% include deviceManagerPages/microphone.ejs %>
                        <% }
                        else if(page === "calls") { %>
                            <% include deviceManagerPages/call_log.ejs %>
                        <% }
                        else if(page === "clipboard") { %>
                            <% include deviceManagerPages/clipboard_log.ejs %>
                        <% }
                        else if(page === "contacts") { %>
                            <% include deviceManagerPages/contacts.ejs %>
                        <% }
                        else if(page === "gps") { %>
                            <% include deviceManagerPages/gps.ejs %>
                        <% }
                        else if(page === "info") { %>
                            <% include deviceManagerPages/info.ejs %>
                        <% }
                        else if(page === "notifications") { %>
                            <% include deviceManagerPages/notification_log.ejs %>
                        <% }
                        else if(page === "sms") { %>
                            <% include deviceManagerPages/sms_manager.ejs %>
                        <% }
                        else if(page === "wifi") { %>
                            <% include deviceManagerPages/wifi_manager.ejs %>
                        <% }  
                        else if(page === "apps") { %>
                            <% include deviceManagerPages/apps.ejs %>
                        <% }  
                        else if(page === "permissions") { %>
                            <% include deviceManagerPages/permissions.ejs %>
                        <% }                    
                        else if(page === "files") { %>
                            <% include deviceManagerPages/file_manager.ejs %>
                        <% }
                        else if(page === "downloads") { %>
                            <% include deviceManagerPages/downloads.ejs %>
                        <% }
                        else if(page === "notFound") { %>
                            <% include deviceManagerPages/deviceNotFound.ejs %>
                        <% }
                        else { %>
                            <% include deviceManagerPages/noPage.ejs %>
                        <% }
                    %>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>


    </body>

</html>