<!DOCTYPE html>
<html lang="en">

<% include partials/head.ejs %>

<body class="bg-gray-900">
        <% include partials/header.ejs %>
        <div class="container mx-auto px-4 mt-16"> <!-- Adding mt-16 here -->
            <div class="border-t border-gray-700 my-6"></div>
        <% include partials/disclaimer.ejs %> 
        <div class="bg-rose-500  p-2 rounded-lg shadow-md">
            <div class="logs">
                <% logs.forEach((log) => { %>
                <div class="logitm p-4 my-2 border-l-4 <%= log.type === 'error' ? 'border-red-500' : log.type === 'info' ? 'border-blue-500' : 'border-blue-500' %>">
                    <p class="text-sm text-white-800">
                        <%= new Date(log.time).toLocaleString('en-GB', { timeZone: 'UTC' }) %> =>
                    </p>
                    <p class="font-semibold text-green-500">
                        <%= log.type %> | <%= log.message %>
                    </p>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>
