<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta content="TechSpy is an Android Remote app which can monitor all android devices in simple way." name=description>
  <title> ParentWeb- Simple Parental Tool</title>
  <link href=https://cdn.glitch.global/d4f875f6-5b27-4ca5-90ae-cf8f62953724/favicon.png rel=icon>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/snackbar.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/snackbar.min.js"></script>
  <script src="/js/main.js"></script>
</head>